<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://186.122.152.69/unigis_mx/MAPI/SOAP/GPS/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="WS_UNIGIS.ServiceSoap" name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>